html {
    height: 100%;
}

body {
    height: 100%;
}


.navbar {
    margin-bottom: 0px !important;
    position: absolute;
    
}

#agficon {
    
    width: 45px;
    margin-top: -12px
}
.form-inline {
    
    margin-top: 8px;
    
}
@media (min-width: 993px) {
    .navbar {
        border-radius: 0px !important;
    }
}

.jumbotron {
    color:white !important;
    background-image: url("backgroundedit.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    //margin-top: -52px;
    margin-bottom: 0 !important;
}

.spacer {
    height: 20%;
    width: 100%;
}

.spacerglyph {
    height: 25%;
    width: 100%;
}

.glyphicon-chevron-down {
    font-size: 35px;
    color: white;
}

/*.glyphicon-chevron-down:hover {
 
    font-size: 35px;
}*/

#content1, #content2 {
    height: auto;
    
}

.center {
    
    text-align: center;
  
    
}

#firstsec {
    
    width: 100%;
    height: auto;
    background-color: white;
       
}

#secsec {
    height: auto;
    background-color: #6DABD2;
    
}

.input-group {   
    
    max-width: 300px;
    margin:auto;
}

#submit {
    
    margin-top: 5px;
    
}

#appstoreicon {
    
    width: 120px;
    
}

#map-canvas {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 400px;
    align-content:center;
    border-radius: 5px;
    
}


#location {
    
    padding: 110px;
    margin: 30px;
}